.jumbotron {
  background-color: mediumturquoise;
}

.jumbotron p {
    text-align: center;
}

.jumbotron h1 {
  font-size: 5em;
  font-weight: lighter;
  text-align: center;
  background-color: yellow;
}

img.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

img.right {
  display:block;
  margin-top: auto;
  margin-bottom: 2em;
}

#low {
  margin-top: -.5em;
}

ol li{
  color: green
}

.boss {
  font-weight: bold;
}

ul li {
  color: brown;
}

footer {
  text-align: right;
}

blockquote {
  padding-bottom: 2em;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-color: PaleTurquoise;
}
